.vscode/
__pycache__/
temp/
voice_file
config.json
chatRecord.db
tempWordCloud.png
test.py
config.yaml

/测试文件夹
/saya/Ark/
/saya/ArkrecWIKI/
/saya/ArkTools/
/saya/ChineseDict/chrome/
/saya/2048/

/pixiv/
