.vscode/
__pycache__/
temp/
voice_file
config.json
*.db
test.py
config.yaml
groupdata.yaml
userlist.json
grouplist.json
qr.jpg
data.json
*.pem
/util/browser/data/*

/测试文件夹
/saya/Ark/
/saya/ArkrecWIKI/
/saya/ArkTools/
/saya/2048/
/saya/ArkFriend/
/saya/ChaoxingSign

/pixiv/
.gitignore
util/UpImage.py
saya/BilibiliDynamic/dynamic_list.json
archive/
data/
