.vscode/
__pycache__/
temp/
voice_file
config.json
*.db
tempWordCloud.png
test.py
config.yaml
groupdata.yaml
blacklist.yaml
qr.jpg

/测试文件夹
/saya/Ark/
/saya/ArkrecWIKI/
/saya/ArkTools/
/saya/ChineseDict/chrome/
/saya/2048/

/pixiv/