Basic: # 基础配置
  BotName: "xxxx" # 机器人在群里的名字

  MAH: # Mirai HTTP API配置
    BotQQ: 123456 # 机器人QQ号
    MiraiHost: "http://xxxx:xxxx" # Mirai HTTP API地址
    MiraiAuthKey: "xxxxx" # Mirai HTTP API verifyKey

  Permission: # 权限管理
    DebugGroup: 1223456 # 测试群，将忽略功能关闭
    Master: 123456 # 机器人主人QQ号
    MasterName: "xxxx" # 机器人主人昵称
    Admin: # 机器人管理员
      - 123456789
  API: # 通用 API 接口
    Tencent:
      # 腾讯内容安全 API
      # 图片内容安全开通： https://console.cloud.tencent.com/cms
      # 文字内容安全开通： https://console.cloud.tencent.com/cms/text/overview
      # secret 获取地址： https://console.cloud.tencent.com/cam/capi
      secretId: "xxxxx"
      secretKey: "xxxxx"
Saya: # saya 插件配置
  AzureTTS: # 微软文字转语音
    Disabled: false # 是否禁用
    # 密钥和区域获取地址：https://docs.microsoft.com/zh-cn/azure/cognitive-services/speech-service/overview#find-keys-and-region
    Subscription: "xxxxx" # 秘钥
    Region: "xxxxx" # 区域
  ChickDict: # 小鸡词典
    Disabled: false

  ChickEmoji: # 小鸡词典emoji翻译
    Disabled: false

  ChineseDict: # 汉典查询
    Disabled: false

  CloudMusic: # 网易云音乐点歌
    Disabled: false
    MusicInfo: true # 是否发送音乐信息

    ApiConfig: # 网易云Api搭建：https://github.com/Binaryify/NeteaseCloudMusicApi
      PhoneNumber: 123456 # 登录手机号码
      Password: "xxxx" # 登录密码

  CyberBlacktalk: # 网络黑话翻译
    Disabled: false

  WordCloud: # 词云生成
    Disabled: false

  MutePack: # 禁言套餐
    Disabled: false
    MaxTime: 3000 # 单倍最大时长
    MaxMultiple: 8 # 最大基础倍数
    MaxJackpotProbability: 10000 # 头奖概率 x分之一
    SuperDouble: true # 是否开启超级加倍
    MaxSuperDoubleProbability: 25 # 超级加倍概率 x分之一
    MaxSuperDoubleMultiple: 12 # 超级加倍最大倍数

  Beast: # 兽语转换
    Disabled: false
    BeastPhrase: # 兽语字符组，需要填写四个字符
      - "嗷"
      - "呜"
      - "啊"
      - "~"

  MinecraftPing: # Minecraft Server PING
    Disabled: false

  PetPet: # 摸头 GIF 生成
    Disabled: false
    CanAt: true # 是否可通过消息 at 触发
    CanNudge: true # 是否可通过戳一戳触发

  StyleLogoGenerator: # 风格 Logo 生成
    Disabled: false

  Repeater: # 复读机
    Disabled: false
    RepeatTimes: 3 # 复读所需次数
    Random:
      Disabled: false
      Probability: 260 # 默认复读概率 x分之一

  Pixiv: # 色图
    Disabled: false
    san: xxx # 可填 r18, r16, xxx
    Recall: true # 是否自动撤回
    Interval: 10 # 撤回间隔
    Forward: true # 是否使用转发消息构建

  ChatMS: # 聊天？？
    Disabled: false

  Message: # 杂七杂八的回复
    Disabled: false

  DailyNewspaper: # 每日早报
    Disabled: false

  Setu: #色图
    Disabled: false

  AnitRecall: #防撤回
    Disabled: false

    Moderation:
      Disabled: false

  Entertainment: # 娱乐功能
    Disabled: false
    Lottery: true

  DiceMaid: # 骰娘
    Disabled: false

  BilibiliResolve: # B站解析
    Disabled: false

  VoiceMusicRecognition: # 听歌识曲
    Disabled: false
    # ACRCloud 音频识别 API
    # API 获取地址： https://cn-console.acrcloud.cn/service/avr
    original: # 原曲识别
      host: "xxxxx"
      access_key: "xxxxx"
      access_secret: "xxxxx"
    humming: # 哼唱识别
      host: "xxxxx"
      access_key: "xxxxx"
      access_secret: "xxxxx"

  Yinglish: #淫文翻译机
    Disabled: false

  EnglishTest: # 背单词
    Disabled: false

  BilibiliDynamic:
    Disabled: false
    Intervals: 15 # 间隔时间（秒）
    EnabledProxy: false # 启用代理
    Proxy: # 代理地址
      - http://127.0.0.1:1080

  CharacterDesignGenerator:
    Disabled: false

  AnimeSceneSearch: # 以图搜图 / 以图搜番
    Disabled: false
    saucenao_key: "xxxxxxxxxxxxx" # API 获取地址：https://saucenao.com/user.php?page=search-api
    tracemoe_key: "xxxxxxxxxxxxx" # API 获取地址：https://trace.moe/account

  RecordQuery: # 战绩查询
    Disabled: false
    r6: # 彩虹六号：围攻
      # API 获取地址：https://developers.statsdb.net/apps
      # 本 API 为可选项，可以不填，但是会减少可查询次数
      user_id: "xxxxxxxxxxxxx"
      password: "xxxxxxxxxxxxxx"

  ArkNews: # 明日方舟蹲饼
    Disabled: false

  LowPolygon: # 低多边形图片生成
    Disabled: false

  Calculator: # 计算器
    Disabled: false

  DriftingBottle: # 漂流瓶
    Disabled: false

  GroupConfig: # 本KEY不需要修改
    Disabled: false

  ArkGuessOperator: # 明日方舟猜干员
    Disabled: false

  Reminder: # 定时提醒
    Disabled: false
    
Final: false
# 配置完成后请调整为 true
# 配置完成后请调整为 true
# 配置完成后请调整为 true
