Basic: # 基础配置
  BotName: "xxxx" # 机器人在群里的名字

  MAH: # Mirai HTTP API配置
    BotQQ: 123456 # 机器人QQ号
    MiraiHost: "http://xxxx:xxxx" # Mirai HTTP API地址
    MiraiAuthKey: "xxxxx" # Mirai HTTP API verifyKey

  Permission: # 权限管理
    DefaultAcceptInvite: true # 自动同意入群申请
    Rest: true # 开启睡眠系统
    Debug: false # 测试模式
    DebugGroup: 1223456 # 测试群，将忽略功能关闭
    Master: 123456 # 机器人主人QQ号
    MasterName: "xxxx" # 机器人主人昵称
    Admin: # 机器人管理员
      - 123456789
  API: # 通用 API 接口
    Tencent:
      # 腾讯内容安全 API
      # 图片内容安全开通： https://console.cloud.tencent.com/cms
      # 文字内容安全开通： https://console.cloud.tencent.com/cms/text/overview
      secretId: "xxxxx"
      secretKey: "xxxxx"

  CoinName: "游戏币" # 游戏币别名
  Event: # 事件通知
    JoinGroup: true
    LeaveGroup: true
    KickGroup: true
    Mute: true
    PermissionChange: true
    NewFriend: true

  Archive: # 归档，存储收到的图片，语音等
    Enable: true # 开启归档
    Path: "./archive" # 归档路径

Saya: # saya 插件配置
  AzureTTS: # 微软文字转语音
    Disabled: false # 是否禁用
    # 密钥和区域获取地址：https://docs.microsoft.com/zh-cn/azure/cognitive-services/speech-service/overview#find-keys-and-region
    Subscription: "xxxxx" # 秘钥
    Region: "xxxxx" # 区域
  ChickDict: # 小鸡词典
    Disabled: false

  ChickEmoji: # 小鸡词典emoji翻译
    Disabled: false

  ChineseDict: # 汉典查询
    Disabled: false

  CloudMusic: # 网易云音乐点歌
    Disabled: false
    MusicInfo: true # 是否发送音乐信息

    ApiConfig: # 网易云Api搭建：https://github.com/Binaryify/NeteaseCloudMusicApi
      PhoneNumber: 123456 # 登录手机号码
      Password: "xxxx" # 登录密码

  CyberBlacktalk: # 网络黑话翻译
    Disabled: false

  WordCloud: # 词云生成
    Disabled: false

  MutePack: # 禁言套餐
    Disabled: false
    MaxTime: 3000 # 单倍最大时长
    MaxMultiple: 8 # 最大基础倍数
    MaxJackpotProbability: 10000 # 头奖概率 x分之一
    SuperDouble: true # 是否开启超级加倍
    MaxSuperDoubleProbability: 25 # 超级加倍概率 x分之一
    MaxSuperDoubleMultiple: 12 # 超级加倍最大倍数

  Beast: # 兽语转换
    Disabled: false
    BeastPhrase: # 兽语字符组，需要填写四个字符
      - "嗷"
      - "呜"
      - "啊"
      - "~"

  MinecraftPing: # Minecraft Server PING
    Disabled: false

  PetPet: # 摸头 GIF 生成
    Disabled: false
    CanAt: true # 是否可通过消息 at 触发
    CanNudge: true # 是否可通过戳一戳触发

  StyleLogoGenerator: # 风格 Logo 生成
    Disabled: false

  Repeater: # 复读机
    Disabled: false
    RepeatTimes: 3 # 复读所需次数
    Random:
      Disabled: false
      Probability: 260 # 默认复读概率 x分之一

  Pixiv: # 色图
    Disabled: false
    san: xxx # 可填 r18, r16, xxx
    Recall: true # 是否自动撤回
    Interval: 10 # 撤回间隔
    Forward: true # 是否使用转发消息构建

  ChatMS: # 聊天？？
    Disabled: false

  Message: # 杂七杂八的回复
    Disabled: false

  DailyNewspaper: # 每日早报
    Disabled: false

  Setu: #色图
    Disabled: false

  AnitRecall: #防撤回
    Disabled: false
    Moderation: # 内容审核
      Disabled: false

  Lottery: # （一种类似彩票的玩法）
    Disabled: true

  DiceMaid: # 骰娘
    Disabled: false

  BilibiliResolve: # B站解析
    Disabled: false

  VoiceMusicRecognition: # 听歌识曲
    Disabled: false
    # ACRCloud 音频识别 API
    # API 获取地址： https://cn-console.acrcloud.cn/service/avr
    original: # 原曲识别
      host: "xxxxx"
      access_key: "xxxxx"
      access_secret: "xxxxx"
    humming: # 哼唱识别
      host: "xxxxx"
      access_key: "xxxxx"
      access_secret: "xxxxx"

  Yinglish: #淫文翻译机
    Disabled: false

  EnglishTest: # 背单词
    Disabled: false

  BilibiliDynamic:
    Disabled: false
    Username: 1xxxxxxxxxx # 用户名
    Password: xxxxx # 密码
    AutoUnsubscribe: true # 是否自动退订

  CharacterDesignGenerator:
    Disabled: false

  AnimeSceneSearch: # 以图搜图 / 以图搜番
    Disabled: false
    saucenao_key: "xxxxxxxxxxxxx" # API 获取地址：https://saucenao.com/user.php?page=search-api
    tracemoe_key: "xxxxxxxxxxxxx" # API 获取地址：https://trace.moe/account

  RecordQuery: # 战绩查询
    Disabled: false
    r6: # 彩虹六号：围攻
      # API 获取地址：https://developers.statsdb.net/apps
      # 本 API 为可选项，可以不填，但是会减少可查询次数
      user_id: "xxxxxxxxxxxxx"
      password: "xxxxxxxxxxxxxx"

  ArkNews: # 明日方舟蹲饼
    Disabled: false
    WeiboUserList: # 监听微博用户列表
      - 6279793937 # 明日方舟
      - 7461423907 # 鹰角网络
      - 7506039414 # 一拾山
      - 1652903644 # 海猫
      - 7745672941 # 明日方舟终末地
      - 7499841383 # 泰拉记事社
      - 7719744839 # CubesCollective
      - 6441489862 # 明日方舟朝陇山

  LowPolygon: # 低多边形图片生成
    Disabled: false

  Calculator: # 计算器
    Disabled: false

  DriftingBottle: # 漂流瓶
    Disabled: false

  GroupConfig: # 本KEY不需要修改
    Disabled: false

  ArkGuessOperator: # 明日方舟猜干员
    Disabled: false

  Reminder: # 定时提醒
    Disabled: false

  Real-ESRGAN: # AI图片超分，请谨慎开启，此功能将严重消耗您服务器的性能
    Disabled: false
    MaxSize: 16000000 # 最大像素量
    Review: true # 腾讯云安全审核
    UpdateCos: false # 开启后将会上传结果至腾讯云COS内，需自行开通COS功能并创建存储桶

  ArkRecruit: # 明日方舟公招识别
    Disabled: false

  Sign: # 签到，ABot唯一的无耗游戏币获取来源
    Disabled: false

  Transfer: # 转账系统，用户间游戏币赠送
    Disabled: false

  DrawSomething: # 你画我猜
    Disabled: false

  HorseRacing: # 赛马！
    Disabled: false

  UserFunction: # 用户功能 无法关闭
    Disabled: false

  ABotPlace: # ABot 公共画板
    Disabled: false

  DingZhen: # 来张丁真
    Disabled: false
Final: false
# 配置完成后请调整为 true
# 配置完成后请调整为 true
# 配置完成后请调整为 true
